<% include ./partials/header%>
    
    <div class="ui main text container">
        <div class="ui huge header">Your highest sentiment percentage:</div>
        <div class="ui top attached">
            <div class="item" style="font-size:130%; color:#e67e22;">
                <i class="signal icon"></i><strong><%= first %>: <%= score %>%</strong>
            </div>
        </div>

        <div class="ui inverted divider"></div>
        <div class="ui huge header">Music recommended:</div>
        <div class="ui three column grid" id="music-recommend">
            <% data.forEach(function(album, i) { %>
            <div class="column">
                <div class="ui fluid card">
                  <div class="image">
                    <img src="<%= data[i]["images"][1]["url"]%>">
                  </div>
                  <div class="content">
                    <a class="header" href="<%= data[i]["external_urls"]["spotify"]%>" target="_blank"><%= data[i]["name"].substring(0, 15)%>...</a>
                  </div>
                </div>
            </div>
            <% }) %>
        </div>
        
        <div class="ui inverted divider"></div>
        <div class="ui huge header">Movie recommended:</div>
        <div class="ui three column grid" id="movie-recommend">
            <% for (var i = 0; i < 6; i++) { %>
                <div class="column">
                    <div class="ui fluid card">
                      <div class="image">
                        <img src="<%= data2[i]["Poster"] %>">
                      </div>
                      <div class="content">
                        <a class="header"%>"><%= data2[i]["Title"].substring(0, 15)%>...</a>
                      </div>
                    </div>
                </div>
            <% } %>
        </div>
        
        <div class="ui inverted divider"></div>
        <div class="ui huge header">Books recommended:</div>
        <div class="ui three column grid" id="book-recommend">
            <% for (var i = 0; i < 6; i++) { %>
                <div class="column">
                    <div class="ui fluid card">
                      <div class="image">
                        <img src="<%= data3[i]["thumbnail"] %>">
                      </div>
                      <div class="content">
                        <a class="header" href="<%= data3[i]["link"]%>" target="_blank"><%= data3[i]["title"].substring(0, 15)%>...</a>
                      </div>
                    </div>
                </div>
            <% } %>
        </div>
        
    </div>

<% include ./partials/footer%>